/*
 * @Author: bozhou 
 * @Date: 2018-07-23 23:45:03 
 * @Last Modified by:   bozhou 
 * @Last Modified time: 2018-07-23 23:45:03 
 */
.todo-list {
  width: 500px;
  margin: 20px auto;
}

.todo-list-header {
  margin-bottom: 20px;

  .input-item {
    display: inline-block;
    width: 400px;
  }
  
  button {
    float: right;
  }
}

.todo-list-content {
  width: 500px;
}